<app-banner src="assets/imagens/banner-homepage.png" alt="Banner da Aplicação Jornada"></app-banner>
<app-container>
  <app-form-busca></app-form-busca>
  <h2 class="titulo">Promoções</h2>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2 class="titulo">Depoimentos</h2>
  <div class="card-wrapper">
    <app-card-depoimento src="assets/imagens/Avatar1.png" depoimento="{{ depoimento1 }}" autor="{{ autor1 }}" />
    <app-card-depoimento src="assets/imagens/Avatar2.png" depoimento="{{ depoimento2 }}" autor="{{ autor2 }}" />
    <app-card-depoimento src="assets/imagens/Avatar3.png" depoimento="{{ depoimento3 }}" autor="{{ autor3 }}" />
  </div>
</app-container>